body {
  background-color: gray;
  font-family: sans-serif;
  overflow-x: hidden;
}

#cardsearch-section {
  width: calc(100% - 250px);
  overflow-y: auto;
  overflow-x: hidden;
}

#cardsearch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 200px;
}

#cardsearch-container {
  display: flex;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
  margin-right: 200px;
  overflow-x: hidden;
}

#cardstorage-container {
  position: fixed;
  width: 230px;
  right: 0;
  top: 0;
  height: 100%;
  background-color: slategray;
  z-index: 1;
  overflow-y: auto;
}

#cardstorage-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  overflow-y: auto;
}